body {
    background-color: #000;
    color:rgb(238, 202, 85);
    padding:1rem 1rem 1rem 1rem;
    
}
p {
    font-size:50px;
}

.titulo {
    color:rgb(21, 27, 5); /*Esto pone Azul todos los titulos*/
    text-align: center;
    background-image: url("1.jpg");
    background-size:cover;
    background-repeat: repeat-x;
   /*  opacity: 0.5; */
   /*  background-position: left top 2rem ; */
    /* background-color: rgb(36, 70, 121); */
    margin:0rem 1rem 1rem 0rem;
    border: 0.3rem white ridge;
    border-radius:2rem ;
    display: inline-block;
    height:350px;
    width:400px;
    /* max-width:400px; */
    padding:1rem 1.5rem 1rem 1rem;
    font-size:auto;
}

.sub {
    color:rgb(166, 218, 23); /*Esto pone Azul todos los titulos*/
    text-align: center;
    background-color: rgb(36, 70, 121);
    margin:0rem 0rem 0rem 0rem;
    border: 0.3rem white ridge;
    border-radius:2rem ;
    display: inline-block;
    padding: 1rem 1rem 1rem 1rem;
    height:350px;
    width:400px;
   /*  max-width:400px; */
    font-size:auto;
}
.Cursiva {
    font-style:italic; /*Esto hace cursivo todo lo "Cursiva*/
    font-size:1rem;}

.Negrita {
    font-weight:bold; /*Esto lo hace negrita*/
    font-size:1rem;}

.Tamaño {
    font-size:1rem; /*Tamaño de letra*/
    font-family:'Times New Roman', Times, serif
}

.titulo h1, .sub h1 {
    margin: 0;
    padding:0;
}

.margen {
    /* font-size:2rem; */

}

@media (max-width: 768px) {
    .titulo, .sub {
        display:block;
        margin:1.5rem auto;
        width: 80%;
        max-width: none;
        background-size: cover;
    }
}

 


