body {
    background-color: #000;
    color:rgb(238, 202, 85);
    padding:0rem 0rem 0rem 1rem;
    
}
p {
    font-size:3rem;
}

.titulo {
    color:rgb(166, 218, 23); /*Esto pone Azul todos los titulos*/
    text-align: center;
    background-color: rgb(36, 70, 121);
    margin:0rem 0rem 0rem 0rem;
    border: 0.3rem white ridge;
    border-radius:2rem ;
    display: inline-block; 
    width:90%;
    max-width:400px;
    padding:1rem 1rem 1rem 1rem;
}

.sub {
    color:rgb(166, 218, 23); /*Esto pone Azul todos los titulos*/
    text-align: center;
    background-color: rgb(36, 70, 121);
    margin:0rem 0rem 0rem 0rem;
    border: 0.3rem white ridge;
    border-radius:2rem ;
    display: inline-block;
    padding: 1rem 1rem 1rem 1rem;
    width:90%;
    max-width:400px;
}
.Cursiva {
    font-style:italic; /*Esto hace cursivo todo lo "Cursiva*/
    font-size:1rem;}

.Negrita {
    font-weight:bold; /*Esto lo hace negrita*/
    font-size:1rem;}

.Tamaño {
    font-size:1rem; /*Tamaño de letra*/
    font-family:'Times New Roman', Times, serif
}

.titulo h1, .sub h1 {
    margin: 0;
    padding:0;
}
@media (max-width: 3000px) {
    .titulo, .sub {
        display:block;
        margin:1.5rem auto;
        width: 90%;
    }
}



 


